*{
    margin:auto;
    padding:auto;
    font-family: 'Caveat', cursive;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    background-image: linear-gradient(178deg, #ceaef0 0%, #e69fdf 100%);
    min-width: 320px;
    min-height: 100vh;
  }

button{
    background-color: lightpink;
    border-radius: 5px;
    border: 1px solid black;
    padding:3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


input:focus{
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    padding:3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline:none;
}